[Database]
database_name = zawadDB
file_path = /home/thebigby01/Codes/_github_repos/PicoDB/examples/testdb/zawadDB/zawadDB.config
table_delimiter = ,

[Admin]
username = rapi

[Permission]

[Encryption]
enabled = true

[Tables]
students
id,name,age,is_active
INT,STRING,INT,BOOLEAN
PRIMARY_KEY,NOT_NULL,NOT_NULL,DEFAULT
students
id,name,age,is_active
INT,STRING,INT,BOOLEAN
PRIMARY_KEY,NOT_NULL,NOT_NULL,DEFAULT
students
id,name,age,is_active
INT,STRING,INT,BOOLEAN
PRIMARY_KEY,NOT_NULL,NOT_NULL,DEFAULT
