[Database]
database_name = zawadDB
file_path = D:/SPL Projects/PicoDB/test/zawadDB/zawadDB.config
table_delimiter = ,

[Admin]
username = admin

[Permission]
utsho
students,teachers
rapi
teachers

[Encryption]
enabled = true

[Tables]
students
id,name,age,is_active
INT,STRING,INT,BOOLEAN
PRIMARY_KEY,NOT_NULL,NOT_NULL,DEFAULT
teachers
id,name,salary,is_employed
INT,STRING,INT,BOOLEAN
PRIMARY_KEY,NOT_NULL,NOT_NULL,DEFAULT
