[Database]
database_name = studentdb
file_path = /home/thebigby01/Codes/_github_repos/PicoDB/test/studentdb/studentdb.config
table_delimiter = ,;,

[Admin]
username = thebigby01

[Permission]
uthuh = read
zawwad = write
rapi = read, write

[Encryption]
enabled = true

[Tables]
students_columns = id, name, age, grade
courses_columns = course_id, course_name, credits
