[Database]
database_name = studentdb
file_path = /home/thebigby01/Codes/_github_repos/PicoDB/test/studentdb/studentdb.config
table_delimiter = ,;,

[Admin]
username = thebigby01

[Permission]
uthuh = students
zawwad = courses, students
rapi = courses

[Encryption]
enabled = true

[Tables]
students = id, name, age, grade
constrains = PRIMARY KEY, NOT NULL, DEFAULT 18, NOT NULL
courses = course_id, course_name, credits
constraints = PRIMARY KEY, UNIQUE, DEFAULT 3

