[Database]
database_name = studentdb
file_path = /home/thebigby01/Codes/_github_repos/PicoDB/test/studentdb/studentdb.config
table_delimiter = ,;,

[Admin]
username = thebigby01

[Read]
uthuh = read
zawwad = write
rapi = read, write

[Encryption]
enabled = true

[Tables]
students_file = /path/to/students.csv
students_columns = id, name, age, grade
courses_file = /path/to/courses.csv
courses_columns = course_id, course_name, credits
