[Database]
database_name = schoolDB
file_path = /home/thebigby01/Codes/_github_repos/PicoDB/examples/testdb/schoolDB.config
table_delimiter = ;_;

[Admin]
username = admin

[Permission]

[Encryption]
enabled = true

[Tables]
courses
course_id,course_name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
student_id,student_name,course_id
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,FOREIGN_KEY
courses
course_id,course_name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
student_id,student_name,course_id
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,FOREIGN_KEY
courses
course_id,course_name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
student_id,student_name,course_id
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,FOREIGN_KEY
courses
course_id,course_name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
student_id,student_name,course_id
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,FOREIGN_KEY
courses
course_id,course_name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
student_id,student_name,course_id
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,FOREIGN_KEY
courses
course_id,course_name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
student_id,student_name,course_id
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,FOREIGN_KEY
