[Database]
database_name = studentdb
file_path = /Users/musaddiqrafi/Desktop/codes/3rdSem/SPL project/PicoDB/test/rapidb/studentdb.config
table_delimiter = ;_;pico;_;

[Admin]
username = admin

[Permission]

[Encryption]
enabled = true

[Tables]
person_info
id,name
INT,STRING
PRIMARY_KEY,NOT_NULL
students
id,name
INT,STRING
PRIMARY_KEY,NOT_NULL
