[Database]
database_name = testdb
file_path = D:/SPL Projects/PicoDB/test/testDB/testdb.config
table_delimiter = ,

[Admin]
username = utsho

[Permission]
utsho
students
rapi
teachers

[Encryption]
enabled = true

[Tables]
students
student_id,student_name,cgpa
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,DEFAULT
teachers
teacher_id,teacher_name,salary
INT,STRING,INT
PRIMARY_KEY,NOT_NULL,DEFAULT
